@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");
* {
  font-family: "IM Fell DW Pica SC", serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: rgb(51, 49, 49);
  margin: 0;
}

.head ul {
  z-index: 1;
  position: relative;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(87, 85, 85);
}

.head li {
  float: right;
}

.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.head li a:hover {
  background-color: #d3282e;
}

.head {
  text-align: center;
}
.head marquee {
  margin-top: 65px;
  color: #d3282e;
  font-size: 18px;
}
.active {
  background-color: #d3282e;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(87, 85, 85);
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gallery a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.gallery a:hover {
  color: #d3282e;
}

.gallery img {
  max-width: 200px;
  border-radius: 25px;
}

.gallery img:hover {
  animation-name: enlarge;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.gallery img:not(:hover) {
  animation-name: shrink;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes enlarge {
  from {
    max-width: 100px;
  }
  to {
    max-width: 250px;
    border-radius: 0;
  }
}

@keyframes shrink {
  from {
    max-width: 250px;
    border-radius: 0;
  }
  to {
    max-width: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .head marquee {
    font-size: 40px;
  }
  .head ul {
    font-size: 30px;
  }
  .body {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    background-color: rgb(87, 85, 85);
    border-radius: 25px;
    margin-top: 125px;
  }
  .gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .head ul {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(87, 85, 85);
  }
  .gallery a {
    font-size: 20px;
  }
}
