@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");

* {
  font-family: "IM Fell DW Pica SC", serif;
}

body {
  background-color: rgb(51, 49, 49);
  margin: 0;
}

.head ul {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(87, 85, 85);
}

.head li {
  float: right;
}

.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.head li a:hover {
  background-color: #d3282e;
}

.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.pfp {
  max-width: 150px;
  border-radius: 100%;
  border: 2px solid white;
}

.pfp:hover {
  animation-name: enlarge;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.pfp:not(:hover) {
  animation-name: shrink;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes enlarge {
  from {
    max-width: 150px;
    border-radius: 100%;
    border: 2px solid white;
  }
  to {
    max-width: 300px;
    border-radius: 0;
    border: 2px solid white;
  }
}

@keyframes shrink {
  from {
    max-width: 300px;
    border-radius: 0;
    border: none;
  }
  to {
    max-width: 150px;
    border-radius: 100%;
    border: 2px solid white;
  }
}

.head {
  text-align: center;
}
.head marquee {
  margin-top: 65px;
  color: #d3282e;
  font-size: 18px;
}

.body p {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 26px;
}

.body a {
  color: #d3282e;
  text-decoration: none;
}

footer {
  font-size: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: aliceblue;
  background-color: rgb(51, 49, 49);
}

.active {
  background-color: #d3282e;
}
